Day 1
=====

In this first class, we focus on the following concepts:

- Numbers 
- Strings
- Lists
- Functions
- Objects
- Boolean Expressions
- if Statements
- while Statements
- for Statements

Using these concepts, we will learn how Python handles and evaluates data. We will also learn how to use these evaluations to form conditional statements -- that is to say, we will learn how to specify the conditions under which certain processes should be undertaken by our code. 

------------

## Numbers, Strings, and Lists

Numbers, strings, and lists are three fundamental objects necessary for completing basic tasks using Python. In the following sections, we will learn about each of these objects, as well as learn what exactly makes them "objects".

## Numbers:

Numbers come in two main flavors: integers and floating-point. The primary difference being that floating-point numbers allow for fractions. In Python 3, combinations of integers will produce floating-point numbers where necessary.

For example:

In [8]:
100 / 6

16.666666666666668

In Python, numbers allow for basic mathematical operations including addition (+), subtraction (-), division (/), and  exponentiation (**). 

For example:

In [1]:
100 + 50

150

In [6]:
100. + 50

150.0

In [2]:
100 * 50

5000

In [3]:
100 / 50

2.0

In [5]:
100 ** 5

10000000000

## Strings:

Strings record text. They are also what Python refers to as a sequence: a collection of objects ordered from left to right, which can be fetched based on their relative position.

For example:

In [18]:
#the string "text" is assigned to a variable named t. This allows us to save the string for later use.

t = "text"

In [11]:
t

'text'

Functions are blocks of reusable code that have specified inputs and outputs. Python has several built-in functions -- one of the most popular is "len()", which returns the length of the sequence given as an input.

In [17]:
#how many characters are in the string t?

len(t)

4

In [14]:
t[1]

'e'

In [15]:
t[0]

't'

In [19]:
# you can also index in reverse

t[-1]

't'

## Strings and Slicing

Along with indexing, sequences support support slicing. Slicing allows you to extract a section of the sequence in one expression.

For example:

In [145]:
'''
note that this expression returns text from index 1 and 2, but not 3. The left value is inclusive 
while the right value is exclusive.
'''

t[1:3]

'te'

The left value defaults to zero while the right value defaults to the length of the sequence. This allows for several common variations:

In [23]:
#returns everything except the character at index 0

t[1:]

'ext'

In [25]:
#returns everything

t[:]

'text'

In [26]:
#sequences also support concantenation and repetition

#concantenation:

t + "more text"

'textmore text'

In [27]:
#t remains unchanged:

t

'text'

In [29]:
#repetition:

t * 5

'texttexttexttexttext'

## Strings and Immutability

The variable t still equals "text", even after everything we've done with it. This is because strings are immutable -- once they are created, they can never be changed. (An immutable object is one that cannot be changed "in-place").

For example:

In [31]:
#you cannot just change the character at a perticular index:

t[0] = 'x'

TypeError: 'str' object does not support item assignment

In [32]:
#to make a change, you need to overwrite the original object:

t = "x" + t

In [33]:
t

'xtext'

## Strings as Objects

Strings are objects. Objects consist of data and functions that act on this data (and these functions are called methods when contained in an object.) As objects, strings have their own methods.

For example:

In [146]:
'''
 'replace' is a very useful method that allows you to replace all occurences of a string with a
 different string.
'''

t.replace('ex', 'EX')

'xtEXt'

In [36]:
t.upper()

'XTEXT'

In [38]:
# split is another useful method that turns a string into a list:

list_t = t.split('e')

In [39]:
list_t

['xt', 'xt']

## Lists:

Lists are similar to strings in that they are sequences. As such, they allow for indexing and slicing. Unlike strings, lists are mutable. This quality makes lists useful tools for storing changing collections of objects.

In [74]:
l = [123,'text',3.14]
l

[123, 'text', 3.14]

In [75]:
len(l)

3

In [76]:
#indexing

l[2]

3.14

In [44]:
#slicing

l[:2]

[123, 'text']

In [45]:
#concatination

l + [456, "more_text"]

[123, 'text', 3.14, 456, 'more_text']

In [46]:
l

[123, 'text', 3.14]

## Lists as Objects

Lists have methods that allow for in-place alterations.

In [47]:
# to add an object to a list:

l.append('even more text')

In [48]:
l

[123, 'text', 3.14, 'even more text']

In [49]:
#to remove an object at a specific location:

l.pop(2)

3.14

In [50]:
l

[123, 'text', 'even more text']

In [52]:
# to replace an object at a specific location:

l[1] = 89

In [53]:
l

[123, 89, 'even more text']

In [55]:
#note: trying to replace an object at a location that doesn't exist will return an error:

1[9] = 4

TypeError: 'int' object does not support item assignment

## Other Useful Objects

You'll also encounter two other object types: tuples and dictionaries. Tuples are sequences (like lists) but are immutable. Dictionaries are mutable but, unlike lists, values are stored with unique keys rather than by location.

You can learn more about these from the official documentation.

Tuples: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

Dictionaries: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

------------

## Control Flow

Now that we've covered the fundamental object types, we can write conditional statements that allow us to do things with these objects.

## Boolean Expressions

What we decide to "do" depends on whether certain conditions have been met -- either yes or no, true or false. There are several ways we can evaluate the truth of statements involving numbers, strings, and lists.

Numbers:

In [112]:
2 > 3  # is 2 greater than 3?

False

In [102]:
4 <= 5  # is less than or equal to 5?

True

In [103]:
7 == 8  # is 7 equal to 8?

False

In [104]:
7 != 8  # is 7 not equal to 8?

True

Strings:

In [113]:
b = "Ben"
j = "Jeff"
j2 = "Jeff"
j3 = "Jeffery"

b != j # are the strings b and j not the same?

True

In [106]:
j == j2 # are the strings j and j2 the same?

True

In [141]:
j in j3 # is the name Jeff contained somewhere within Jeffery?

True

In [142]:
j in b # is the name Jeff contained somewhere within Ben?

False

In [143]:
(j or j3) in b # is Jeff or jeffery contained somewhere within Ben?

False

Lists:

In [114]:
some_list = [123,456,"foo"]

In [116]:
"foo" in some_list

True

In [117]:
("foo" and 7) in some_list

False

In [118]:
("foo" or 7) in some_list

True

## if/elif/else Statements

if statements use boolean expressions to decide what to "do". 

For example:

In [138]:
# This statement says: if x is greater than zero, print "The number was greater than zero"

x = 1

if (x > 0):
    print("The number was greater than zero")

The number was greater than zero

In [139]:
# We can specify what we want done if the boolean expression comes up false using "else":

x = -2

if (x > 0):
    print("The number was greater than zero")
else:
    print("The number was NOT greater than zero")

The number was NOT greater than zero

In [147]:
# We can also evaluate multiple boolean expressions using "elif":

x = 1

if (x == 1):
    print("The number is 1")
elif (x == 2):
    print("The number is 2")
elif (x > 2):
    print("The number is greater than 2")
else:
    print("The number is less than 1")

The number is 1

## while Statements

while statements use boolean expressions to decide how many times it should execute a block of code. WARNING: if the boolean statement nevers changes to false, the loop will continue indefinitely.

In [133]:
counter = 0

while(counter < 5):
    counter += 1
    print("counter now equals: " + str(counter))

counter now equals: 1
counter now equals: 2
counter now equals: 3
counter now equals: 4
counter now equals: 5

## for Statements

Like while loops, for loops decide how many times to execute a block of code. Unlike while loops, for loops do not rely on boolean statements but instead iterate over a sequence.

In [134]:
some_list = [123,456,"some text","some more text",789]

for i in some_list:
    print("some random message")

some random message
some random message
some random message
some random message
some random message

In [149]:
'''
 the "i" in "for i in some_list" could have been "x" or "item" or any other designation. It is simply a label that can be 
 accessed within the loop, and it provides the specific item currently selected by the for-loop.
'''

for i in some_list:
    print(i)

123
456
some text
some more text
789